{% extends "index.html" %}
{% block title %} HOME {% endblock %}
{% block title_page %}<h1 class="m-0">{{ table_name | upper }}</h1>{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <a href="{{ table_name }}_add">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add New
                        </button>
                    </a>
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                   aria-describedby="example2_info">
                                <thead>
                                <tr>
                                    {% for column in col[1:] %}
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">{{ column }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in data_col %}
                                    <tr>
                                        {% for j in i[1:] %}
                                        <td style="max-height: 80px; max-width: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            {%if j == None or j == '' %}_{% else %}{{ j }}{% endif %}</td>
                                        {% endfor %}
                                        <td style="max-height: 80px; max-width: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            <a class="btn btn-info btn-sm"
                                               href="/{{ table_name }}_edit_{{ i[0] }}">
                                                <i class="fa fa-pencil"> Edit
                                                </i>
                                            </a>
                                        </td>
                                        <td style="max-height: 80px; max-width: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            <a class="btn btn-info btn-sm" onclick="DeleteToData({{ i[0] }}, '{{ table_name }}')">
                                                <i class="fa fa-pencil"> Delete
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                Showing page {{ page }} of {{ total_page }} pages with {{ count_data }} entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    {% if page > 1 %}
                                        <li class="paginate_button page-item previous" id="example2_previous"><a
                                                href="/?page={{ page - 1 }}" aria-controls="example2" data-dt-idx="0"
                                                tabindex="0"
                                                class="page-link">Previous</a></li>
                                    {% endif %}

                                    {% for page_num in range(page - 2, page + 3) %}
                                        {% if page_num > 0 and page_num <= total_page %}
                                            <li class="paginate_button page-item {% if page == page_num %}active{% endif %}"><a
                                                    href="/?page={{ page_num }}"
                                                    aria-controls="example2"
                                                    data-dt-idx="1" tabindex="0"
                                                    class="page-link">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page != total_page %}
                                        <li class="paginate_button page-item next" id="example2_next"><a
                                                href="/?page={{ page + 1 }}"
                                                aria-controls="example2"
                                                data-dt-idx="7"
                                                tabindex="0"
                                                class="page-link">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}
{% block js %}<script src="static/pages-self/delete.js"></script>
{% endblock %}